*{

}

.my-table{
  box-shadow: red 10px 10px 50px;
  border-radius: 50px;
  padding: 20px;
  background-color:hotpink;
}

#my-head{                                                                                                                      
  background-color: red !important;
}

#my-body{
  background-color: chartreuse;
}

#my-foot{
  background-color: darkorange;
}


.square {
  width: 100px;
  height: 100px;              
  background-color: red;
  justify-self: center;
  align-items: center;
  margin-top: 10px;
  padding-top: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red !important;
  background-color: blue;
  display: inline-block;
  border: 1px solid;
}

#spe {
  height: 300px !important;
}

#container {
  width: 800px;
  margin: 0px auto;
}

#banner {
  height: 200px;
  background-color: red;
}

#menu {
  height: 30px;
  background-color: aqua;
}

#leftbar {
  width: 150px;
  background-color: pink;
  float: left;
}

#content {
  width: 500px;
  background-color: yellow;
  float: left;
}

#right {
  width: 150px;
  background-color: aliceblue;
  float: left;
}

#bottom {
  height: 30px;
  background-color: aquamarine;
}

#footer {
  height: 30px;
  background-color: blueviolet;
  clear: both;
}

.container{
  width: 90%;
  height: 500px;
  margin: 0px auto;
  margin-top: 40px;
}


.banner{
  width: 100%;
  height: 50px;
background-color: aqua;
}

.menu{
  width: 100%;
  height: 30Spx;
background-color: aquamarine;
}

/* .lsidebar .content .rsidebar {
  height: 40px !important;
} */

.lsidebar{
  width: 20%;
  height: 100px;
  float: left;
background-color: chartreuse;
}

.content{
  width: 60%;
  height: 80px;
  float: left;
background-color: aliceblue;
}

.rsidebar{
  width: 20%;
  height: 80px;
  float: left;
background-color: coral;
}

.footer{
  height: 40px;
background-color: deeppink;
}

.cpright{
  height: 40px;
background-color:orangered;
}




